#!/usr/bin/env bash
#
# Versions and configuration to provision.
#

# Valid SDK version from https://sdkman.io/jdks
java_version="21.0.2-tem"

# Springboot version from https://sdkman.io/sdks#springboot
springboot_version='3.2.2'

# KinD https://kind.sigs.k8s.io
kind_version=v0.21.0

# Git Configuration - update with your git info
git_user_name=""
git_user_email=""
